<section class="outer units">

    <h1>Unit Listing</h1>
    <div style="margin-bottom: 1em" class="buttons">
        <a class="csv_export button" href="units/csv"><i class="fa fa-file-text-o"></i>Export Unit list as CSV</a>
        <a class="button" href="units/edit"><i class="fa fa-pencil"></i>Bulk Edit</a>
    </div>
    <div id="unittable">{{{react}}}</div>

</section>

<script type="application/json" id="units_json">
  {{{units}}}
</script>
