<section class="units_edit outer">
  <h1>Unit Listing - Batch Edit</h1>
  <div class="buttons">
      <a class="button" href="/units"><i class="fa fa-chevron-circle-left "></i>Back to Unit List</a>
  </div>
  <div id="UnitBulkEditTable"></div>
</section>