<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/images/sc_logo_white_75_79.png" alt="Scouts Canada Logo">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/program_guide">Program Guide</a></li>
        <li class="nav-link"><a href="/programs">Program Activities</a></li>
        <li class="nav-link"><a href="/program_selection">Program Selection</a></li>

        {{#user_can 'view oos'}}
        <li class="nav-link"><a href="/oos">OOS</a></li>
        {{/user_can}}

       {{#user_is 'admin'}}
        <li class="nav-link more"><a href="javascript:void(0)">Admin</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Users</a></li>
            <li class="more"><a href="javascript:void(0)">Imports</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Units</a></li>
                <li><a href="/admin/import/oos">OOS</a></li>
              </ul>
            </li>
          </ul>
        </li>
        {{/user_is}}
        <li class="nav-link"><a href="http://pj2015.ca">pj2015.ca</a></li>
      </ul>
    </div>
    <div class="navigation-tools">
      {{> sign_in_out_button }}
    </div>
  </div>
</header>