<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/images/sc_logo_white_75_79.png" alt="Scouts Canada Logo">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Program Guide</a></li>
        <li class="nav-link"><a href="/programs">Program Activities</a></li>
        <li class="nav-link"><a href="/oos">OOS</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Admin</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Users</a></li>
            <li class="more"><a href="javascript:void(0)">Imports</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Units</a></li>
                <li><a href="javascript:void(0)">OOS</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="navigation-tools">
{{!--       <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </div>
      </div> --}}
      {{> sign_in_out_button }}
    </div>
  </div>
</header>