<select name="ProgramId" id="ProgramId">
    <option value="0">UNASSIGNED</option>
    {{#each programs}}
    {{whatis ..}}
    <option value="{{this.id}}" {{selected this.dataValues.id ../oos.ProgramId}}>{{this.name}}</option>
    {{/each}}
</select>