<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    {{> navbar}}

    {{#if messages}}
    <section class="outer messages">
      {{#if messages.error}}
        {{#each messages.error}}
          <div class="flash-error">
            <span>{{this}}</span>
          </div>
        {{/each}}
      {{/if}}

      {{#if messages.success}}
        {{#each messages.success}}
          <div class="flash-success">
            <span>{{this}}</span>
          </div>
        {{/each}}
      {{/if}}
    </section>
    {{/if}}

    {{{body}}}
    <script>
        $(document).ready(function() {
          $('#js-navigation-menu').removeClass("show");

          $('#js-mobile-menu').on('click', function(e) {
            e.preventDefault();
            $('#js-navigation-menu').slideToggle(function(){
              if($('#js-navigation-menu').is(':hidden')) {
                $('#js-navigation-menu').removeAttr('style');
              }
            });
          });
        });
    </script>
  </body>
</html>
