<section class="list-group">
    {{#each all_programs}}
    <a href="/programs/{{this.id}}" class="list-group-item {{selected this.id ../program.id}}">
        {{{starred_activity this true}}}
        {{{this.full_name_html}}}
    </a>
    {{/each}}
</section>