button,
input[type="submit"],
.button {
    @extend button;
    $blue-button-color: $base-button-color;
    $green-button-color: #5cb85c;
    $red-button-color: #d9534f;

    &:focus, {
        color: white;
    }

    &.green {
        background-color: $green-button-color;

        &:hover {
            background-color: darken($green-button-color, 15);
        }
    }

    &.red {
        background-color: $red-button-color;

        &:hover {
            background-color: darken($red-button-color, 15);
        }
    }
}

.button-small {
    font-size: 0.75em;
}

.button-mini {
    font-size: 0.5em;
}