<section class="outer">
    <h1>An error occurred :(</h1>

    {{#unless production}}
        {{#if error.message}} <h2>Message: {{error.message}}</h2> {{/if}}
        <pre>{{error.stack}}</pre>
    {{else}}
        <p>
            This is embarrassing, but it looks like there was a problem handling your last request. If this continues to happen, please email us at <a href="mailto:programselection@pj2015.ca">programselection@pj2015.ca</a> for assistance.
        </p>
    {{/unless}}
</section>