<div class="hero">
  <div class="hero-inner">
      <div class="hero-copy">
          <h1><span class="smaller">It's like a Choose your own Adventure novel&hellip;</span><br/>Without the Novel</h1>
          <p>
              Do you want to spend your week at the 2015 Pacific Jamboree beneath the water's surface, gliding atop it, or high above on a mountain peak? Hiking along the rugged Pacific Coast, or through the streets of downtown Victoria? No matter what what activities you choose, you're in for the best week of your life, and we can't wait to see you.
          </p>
      </div>
  </div>
</div>

<section class="outer">

  <h2 style="text-align:center; margin-bottom: 35px;">You'll never have a dull moment at PJ 2015, not with 18 fun and exciting programs to choose from!</h2>

  <div class="cards">
    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-2.png" alt="">
      </div>
      <div class="card-header">
        <a href="/program_guide">1. Program Guide</a>
      </div>
      <div class="card-copy">
        <p>The <a href="/program_guide">Program Guide</a> has everything you need to know about the activities on offer at PJ 2015. From "what time does the bus leave", to "what do I need to bring on the hike", the Program Guide has all the answers!</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
      </div>
      <div class="card-header">
        <a href="/programs">2. Program Activities</a>
      </div>
      <div class="card-copy">
        <p>From Calypso to Wild Play! <a href="/programs">Learn all the details</a> on each program at PJ 2015.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
      </div>
      <div class="card-header">
        <a href="/program_selection">3. Program Selection</ahref="/program_selection">
      </div>
      <div class="card-copy">
        <p>The final step! <a href="/program_selection">Rank the programs to let us know what you want to do most.</a> Remember, the sooner you submit your final payment, the better your chances!</p>
      </div>
    </div>
  </div>

</section>