<div class="hero">
    <div class="hero-inner">
        <div class="hero-copy">
            <h1><span class="smaller">One Week at Jamboree</span><br/>A Lifetime of Adventure</h1>
        </div>
    {{!-- <button>Learn More</button> --}}
    </div>
</div>