<section class="outer program_guide">

{{#markdown}}

# Welcome to PJ 2015

PJ 2015 will be the 12th Pacific Jamboree. You have made an awesome decision to join us at Camp Barnard, located near the small town of Sooke, on beautiful Vancouver Island. Camp Barnard is approximately 50 km from British Columbia’s capital city of Victoria and is nestled in the heart of the Salish Seas.

Now comes the fun part for your troop, planning and preparing. We can promise you a program filled with adventure, challenge and choices with something for everyone. As you go through the Jamboree Program Book you will discover a wide variety of activities to choose from. Challenge yourself as a Patrol to choose something different or wacky – something you will be laughing and talking about for years to come!

The Program selection process, set out below, has been designed as a Patrol activity and, as such, will be the beginning of many things your patrol will do together as you prepare for your great adventures at PJ ‘15!
As you work through this booklet, pay close attention to the dates and deadlines. You will discover that your Unit cannot do everything offered and you need to realize that not every Unit that wants a particular program activity may be able to be accommodated. Move quickly to give yourselves the best chance of getting the activities of your choice.
Enjoy this selection process, and have fun as you work through it.

Maxine McLean<br>
Deputy Camp Chief, Program<br>
Pacific Jamboree 2015

# Introduction

This is your guide to the program activities at PJ 2015. After reviewing some important general information about the Jamboree and the program, the guide describes how to select your Unit’s activities. It provides an example of how you and your Patrol can develop a list in order of priority for the many program activities available. We have provided detailed descriptions for each program activity that will aid your Unit in selecting your choices.

The Program Guide also contains information about the Indaba Program for Scouters. These are fun learning sessions that include some Jamboree activities and other skills that leaders can incorporate into their programs back at home.

# The Program Day

Except for Sunday July 12th, each day at PJ ‘15 is divided into two program periods. Using this guide, your patrol will develop a priority-order list of the program activities available during the morning and afternoon; other periods are for meals, ceremonies and free time.

## Typical Day

Times will vary for off-site programs, based on your activity and bus schedules

| Time ||
| --- | --- |
| 07:00 - 08:00 | Wake up and breakfast |
| 08:00 | Program buses begin to depart for off-site programs |
| 08:30 - 11:30 | Morning on-site program period |
| 11:30 | Program ends – on-site lunch break starts |
| 12:00 | Buses depart for afternoon off-site locations |
| 14:00 - 17:00 | On-site afternoon program period |
| 17:00 | Supper |
| 19:00 - 21:00 | Evening drop-in activities |
| 21:00 | Drop-in activities end – return to Subcamps |
| 22:00 | Quiet time |

## Important Notes

Due to transportation requirements, some off-site program activities require that the patrols board buses at staggered departure times and for morning programs some leave at 08:00.

In order to be at the bus departure area on time, you should plan on leaving your sub-camp at least 30 minutes prior to departure time. Turnaround time is short, so it is essential that you are prepared for the day and ready to hike to the bus before departure time.

The afternoon off-site program buses start to leave at noon for some programs, so make sure that once you've got your assignments, you organize yourselves accordingly. As you head to your morning program, you might want to take your lunch and whatever you need for the off-site afternoon program with you, as you will only have half an hour from the end of the morning program until when your bus will depart.

# Building your PJ Program

Participation in the planning process by Patrol members is important to their enjoyment of the Jamboree. The following is a suggested approach; you are of course, welcome to use whatever method works best for you to develop a priority list of all the program activities.

- Gather the Patrol members together to read through the program activity descriptions and talk about each other's personal preferences.
- Use sticky notes or small file cards to make up Program Planning Cards; each with the name of one program activity on it.
- Place the program cards on a table. Have your patrol sort the cards into a priority order with the most popular program activity at one end and the least popular at the other end.
- Transfer your prioritized list to your Program Selection form.

It will likely require considerable discussion and time to develop an order that most patrol members will be happy with, but the process is important as participation in all activities is by Patrol.

Please remember that you are not choosing the order in which you will be doing the activities at the Jamboree; you are ranking the programs in the order that you most want them.

One Program Period will be automatically scheduled as free time. If your patrol wishes to have more than one free time period, check the "Extra Free Period" box on the Program Selection Form.

When you are putting your program selections in order of priority, select the day and/or overnight hikes which best suit your patrol's abilities and put them in an early spot on your list. Put the hikes not suited to your abilities at the very end of your list.

## Scheduling

When the Program Team prepares your patrol's schedule, they will first attempt to give you the program activity at the top of your priority lists. If this activity is still available, it will be assigned to an open period on your schedule. The Program Team will continue in this fashion, moving down your list until your schedule is full.

Programs are assigned in the order in which full and final Jamboree payment is received. Patrols whose Program Selection Form or final jamboree fee payment is received after the deadline will be processed individually. They will be allocated any remaining activities, but will likely not receive their first few choices and may have more than one free period.

## Key Dates and Deadlines

Your Unit must submit its program selection by April 1, 2015. Program selections will be processed only upon receipt of the Patrol’s final Jamboree fee payment.

Unit leaders will receive their official program schedules by email by May 1, 2015.

Patrols that submit Program Selection Forms or pay their jamboree fees after the deadline will be processed individually, upon receipt of both form and fees, and will be allocated any remaining activities: confirmations for these patrols will be sent out only if mailing time is adequate. Otherwise, they will receive their schedules on arrival at the jamboree.

## Program Confirmation Notice

Unit program schedules will be sent to the Unit Leaders by email once they have been processed. Any special kit lists or last minute program notices will be included with this email. Your finalized timetable of activities (what, when and where) will be waiting for you at Camp Barnard in your Arrival Kits.

## Program Schedule Changes

Should you wish to make any changes to your schedule, visit Program Changes at the Subcamp Headquarters. Sometimes, Patrols drop out of popular activities; if you wanted to go on one of them and didn't get it, we might be able to fit you in on a cancellation. Keep that in mind when deciding which equipment to bring.

Members of the Program Team will do the best they can to accommodate your changes. You can also check with the Service Scouters in your Sub Camp if you need assistance or information.

**If, for whatever reason, your Unit decides they do not want to attend a program, you must inform us either at Program Changes, or through your own Subcamp headquarters. If you don't inform us and don't show up for your program or bus, you will needlessly delay your fellow Scouts while we look for you, and use up space that could be assigned to another Unit.**

Don't let little questions become big problems! The program staff is there to do everything they can to make your participation in the programs as enjoyable as possible.


## Questions?

If you have any questions regarding the completion of the Program Selection Form, please email programselection@pj2015.ca.

# Program Information

The great adventure of attending a jamboree requires hours of planning and preparing. While at the jamboree, your unit will practice known skills, learn new skills, and participate in new activities. Much of the knowledge and many of the skills obtained in preparation for and in taking part in a jamboree fulfill badge requirements. Many of the programs and activities at PJ '15 have been developed with that in mind.

At least one Unit Scouter is required to accompany each Scout unit to events. This includes both the on-site and off-site 'sign-up' activities. Given notification, jamboree staff will attempt to make special arrangements for Unit Scouters who cannot actively participate due to physical limitations, illness or other restrictive factors.

**Shelter is not provided at the overnight Juan de Fuca Hike. You will need to pack light and bring basic gear along. Details are provided on the description page. Your Unit will also have to carry and cook your own meals, so plan to pack your stove or bring lightweight cooking gear.**

Safety requires that all participants, regardless of swimming ability, wear personal flotation devices (PFDs), complete with whistle, during most of the water activities. When required, PFDs will be provided by the jamboree.

Everyone is asked to bring a scout whistle, which is to be on his or her person at all times during the Jamboree.

## Program Areas

Jamboree programs are offered on- and off-site, with most of the program periods being three hours long.

The activities you choose should be suitable for all participants in your Patrol. Hikes chosen should be geared towards the participant with the least experience. If you need to, there's plenty of time to get in some practice hikes before leaving for PJ '15.

### Off-Site

Off-site programs involve bussing and times may vary. Half & full day excursions are available, as well as an overnight hike.

### On-Site

Activities at Camp Barnard offer a variety of challenges and fun, including water activities on Young Lake.

## Premium Activities <i class="fa fa-star" style="color:gold"></i>

"Premium" activities are high cost, low participant ratio activities. These include Biking, Kayaking, Stand-Up Paddle Boards and Dragon Boats. **You are only entitled to one of these activities.** A second premium activity may be given if room permits. Units who send their Program Selection Forms first will be the first in line for a second premium activity.

Premium activities are noted in the program descriptions with a gold star <i class="fa fa-star" style="color:gold"></i>.

## Extra-Fee Activities

Some programs may have extra fees associated with them due to their extreme cost and specialized equipment and/or skills required. These fees are noted in the program descriptions and must be paid prior to arrival at the Jamboree.

## Hiking Abilities

PJ '15 provides the opportunity to take part in various types of hiking activities. Both a half-day and overnight program are available. Hikes are offered at various levels of difficulty, and are of varying length, over a wide range of terrain. All Hikes will have staff trained as hike leaders/guides.

All hikers are recommended to bring:

- a day pack for all day and overnight hikes
- a back pack for overnighters
- a one to two litre canteen
- personal safety kit (see below)
- lightweight rain gear
- hat that protects back of the neck and the ears
- good hiking footwear that is well broken in
- sunscreen
- lip balm
- insect repellent
- sleeping bag and pad (overnight hikes only)
- personal toiletries and clothes for variable weather conditions
- extra pair of footwear that will survive getting wet (for water activities)
- personal safety kit, including:
  - fanny pack
  - hiking first aid kit, including good supply of moleskin
  - high intensity small flashlight with spare batteries
  - waterproof matches
  - Scout whistle
  - Compass
  - Emergency disposable blanket (space-age plastic sheet sold for hypothermia prevention)
  - Sting stop or Ban roll-on deodorant for insect stings
  - Tensor, if you need it for weak knee, ankle, etc
  - Antihistamine, if you need it for allergies
  - Other routine medications that you need to take daily (advise your Scouter)
  - Any other items you or your patrol decide should be included

[Path of the Ancestors (Juan de Fuca Trail Overnight Hike)](http://program.pj2015.ca/programs/3) has a specialized equipment list; please refer to the program description for more information.

## Mandatory Program Orientation Sessions

One Unit Scouter will be expected to attend a mandatory program orientation session. These will take no longer than about a half hour. The sessions, held nightly at Subcamp Headquarters, are designed for each offsite program. This will ensure that you are prepared, pack the right equipment and receive any special last minute information you need for the following day's adventure.

## Getting Ready for PJ '15

Your time at PJ '15 will be full of active, fun, and challenging activities. You would be wise to build up your physical stamina between now and July so that you will be able to get the most out of all the activities.

Experience in lightweight camping and hiking elevated terrain will stand you in good stead at this Jamboree. If you don't have any local mountains to conquer, try lots of multi-story staircases! This will surely get your muscles in shape for your activities at PJ! Bike riding and swimming will be good for your lung capacity. Remember, if you live at high elevations, you will need a bit of time to acclimatize to the sea level altitudes of the West Coast.

All youth and adult members will be required to wear their jamboree neckerchiefs when participating in off-site hikes, camps and tours of the local towns. Uniforms will be worn traveling to and from camp as well as at the Opening and Closing ceremonies.

During the Jamboree you will be spending most of your time outdoors, under the sun. Be sure to bring a hat, sunscreen and protective clothing. Exposed skin burns quickly by the ocean. Clothing should be comfortable and non-restrictive; footwear should be supportive, sturdy and broken-in. As the weather can vary on the West Coast, be sure to tuck in your rain gear, including waterproof footwear.

You and your possessions will be in a variety of locations. Be sure everything you bring is clearly marked with your name, address and PJ '15 Unit number.

# Scouters' Corner

Scouters, look what we have for you…

Translated into English, INDABA means a conference between or with members of South African tribes. Baden-Powell adopted it as his title for a gathering or conference of Scouters. In Canada, INDABA was first introduced and offered at the 6th Canadian Jamboree in 1985 as a series of learning activities for adults in Scouting at the Jamboree.

INDABA sessions at PJ'15 will be located in the shelter off the main field (where opening will be held) or in the amphitheater; locations will be announced. Sessions will be in evenings. Unit Leaders and Offers of Service are welcome. **The workshops will be on a pre-registration basis.**

INDABA activities are designed to bring adults together in ways, which will give them opportunities to enhance their knowledge and skills to enrich their back-home programs. INDABA will provide a rare opportunity to learn and share with fellow members from across British Columbia and the Yukon, other provinces, the United States and overseas. Scouters with exceptional skills in various topics have been recruited to plan and conduct the workshops and co-ordinate the INDABA Learning Centres. Some printed resource material may accompany the workshops.

## Workshop registration

We are requesting an indication on the Program Selection Form for preferences of the topics that interest the Scouters in your Unit. Please indicate which INDABA topics you would attend in the appropriate box on the Form. This will allow us to schedule an appropriate number of sessions of each topic.

To ensure that sufficient handouts are printed, participation at the evening sessions will be on a pre-registered basis. Pamphlets detailing how to register, descriptions with schedule of session locations and registration forms will be available throughout the camp. The Registration Centre will be at the INDABA Headquarters.

All scheduled workshops will take place between 19:00 - 21:00 on July 12-16. Each session is one hour in duration. Dates, session lengths, and locations are subject to confirmation.

## Indaba Courses

### Motor Cross

A special buy-in program is being organized for OOS Youth and Adults at PJ '15 that will provide an opportunity to board a bus and head out for an evening of fun to participate in motor cross biking. The cost is $35 for teens and $45 for adults which will provide an hour of riding time at the track. There are 20 bikes available and we are planning one bus (48), so you will have an hour to fill. There are plenty of other things to do in the same area including mini golf, go karts, a batting cage, an ice cream parlour and a race track, so you may want to bring pocket money. You can also watch the races from the dirt bike track for free.

#### Pre-Requisites

An INDABA session will be held the night before, and it is mandatory that you attend the info session in order to get on the bus for the Motor cross trip. Payment must be received along with the completed forms, prior to attending PJ '15 . Each participant under the age of 18 must provide [a signed parent/guardian consent form](http://www.scouts.ca/bpp/forms/Parent-Guardian-Consent-Form.pdf).

| **Course** | **Description** |
| --- | --- |
|  Scuba Diving&nbsp; | How to get your Troop interested Scuba |
|  Dutch Oven Cooking | Learn how to cook delicacies in a Dutch oven. Hands-on; food is supplied. |
|  STEM & Blast cars | Learn about exciting additions to the program |
|  Canadian Path | From leader to facilitator - share ideas, learn pitfalls to avoid |
|  Environment Canada | Program ideas to share with your Troop |
|  Wilderness First Aid Intro | How to deal with emergencies in the wilderness |
|  Campfire set up and Fire safety | Safety, starting and setting of the campfire |
|  Lightweight Trail Cooking | Cook nutritious meals without bringing the kitchen sink |
|  Geocaching | Using a GPS to create and find Geocaches. |
|  Georges Quest | Take a shot at the on-site [obstacle course](http://program.pj2015.ca/programs/15) |
|  The Rock | Get your shot at climbing [a real rock face](http://program.pj2015.ca/programs/5) |
|  Log Burling | Adult evening on the Logs |
|  Kayaking | Adult evening on the [kayaks](http://program.pj2015.ca/programs/12) |
|  Local Hike | Learn about local environment |
|  Motorcross biking | Introducing Motor Cross to your troop |

{{/markdown}}

</section>