<section class="outer">
    <h1>Import OOS CSV File</h1>

    <form action="/admin/import/oos" method="POST" enctype="multipart/form-data">
        <label for="import_file">Select CSV File</label>
        <input type="file" name="import_file" id="import_file">
        <button class="button green" type="submit"><i class="fa fa-file-text-o"></i>Import CSV File</button>
    </form>
</section>