<h1>Programs</h1>

<table>
    <thead>
        <tr>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        {{#each programs}}
            <tr>
                <td><a href="/programs/{{this.id}}">{{this.name}}</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>