body {
    margin-bottom: 50px;
}

h1, h2 {
    margin-bottom: 15px;
}

.outer {
    @include outer-container;
    margin-top: 3em;
}

.lighter_weight {
    font-weight: lighter;
}

table tr:last-child td {
    border-bottom: none;
}

thead {
    font-weight: bold;
}

[draggable] {
    cursor: move;
}

.hover-pointer:hover {
  cursor: pointer;
}