section.oos {
    select {
        margin-bottom: 1.05em;
        width: 100%;
        margin-top: 1em;
    }
    section.jamboree_information, section.personal_information {
        @include span-columns(6);
        margin-top: 25px;
        label, p.label {
            @extend label;
            border-bottom: 1px dotted #ddd;
        }
    }
}

section.oos_assignment {
    select {
        display: inline;
        margin-bottom: 0;
    }

    td {
        padding: 0.75em;
    }

    thead {
        td {
            &:nth-child(1) {
                width: 10%;
            }
            &:nth-child(2) {
                width: 15%;
            }
            &:nth-child(3) {
                width: 10%;
            }
        }
    }

    tbody {
        td {
            &:nth-child(5),  &:nth-child(6) {
                font-size: .8em;
            }
        }
    }

    .fa-check-circle {
        color: #5cb85c
    }

    .fa-times-circle-o {
        color: #d9534f;
    }
}