.program_selection {
    .program_selection_component {
        @include span-columns(7);
    }
    .notes {
        @include span-columns(5);
    }

    ol {
        list-style: decimal;
        padding-left: 25px;
    }
    .fa-star {
        color: gold;
    }
    .manualButtonContainer {
        display: inline;

        i:after {
            content: none;
        }
    }
}

.program_selection_index {
    thead {
        td {
            &:nth-child(1), &:nth-child(3) {
                width: 10%;
            }
            &:nth-child(2) {
                width: 30%;
            }
            &:nth-child(4) {
                width: 20%;
            }
        }
    }
    td a.button {
        font-size: .75em;
    }
}