section.unit {
    select {
        margin-bottom: 1.05em;
        width: 100%;
        margin-top: 1em;
    }
    section.unit_information, section.program_selection {
        @include span-columns(6);
        margin-top: 25px;
        label, p.label {
            @extend label;
            border-bottom: 1px dotted #ddd;
        }
    }
}
section.units {
    thead {
        td {
            &:nth-child(1) {
                width: 35%;
            }
            &:nth-child(3), &:nth-child(4) {
                width: 5%;
            }
            &:nth-child(6), &:nth-child(7) {
                width: 10%;
            }
        }
    }
}


section.unit.schedule {

    h4 {
        margin: .5em 0;
    }

    .program_quickfacts {
        font-size: .75em;
        thead td {
            background: #333;
            color: #fff;
            font-weight: bold;
        }

        td {
            border-bottom: none;
            padding: 8px;
            text-transform: capitalize;
        }
    }

    .prerequisites_skills_equipment {
        @include clearfix;
        margin-top: 30px;
        section {
            @include span-columns(4 of 8);
            h2 {
                font-size: 1em;
            }
        }
    }


}

@media print {

    section.unit.schedule {
      .program_details, .program_quickfacts {
        display: none;
      }
      h3 {
          font-size: 1.3em;
      }
      h4 {
          font-size: 1.1em;
      }
      a {
        color: black;
      }
    }

    section.outer.units.schedules {
        h3 {
            font-size: 1.3em;
        }
        hr {
            display: none;
        }
        font-size: .9em;
    }
}


section.units_edit {
    td {
        padding: 0.75em;
    }

    tbody {
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            &:nth-child(1) {
                overflow: visible;
                text-overflow: none;
                width: 5%;
            }
        }
    }

    thead {
        td {
            &:nth-child(1) {
                overflow: visible;
                text-overflow: none;
                width: 8%;
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(7), &:nth-child(8) {
                width: 5%;
            }
            &:nth-child(4), &:nth-child(7) {
                width: 20%;
            }
            &:nth-child(5), &:nth-child(6) {
                width: 15%
            }
        }
    }
}