<p><b>The moment you have been waiting for is here: PJ 2015 Program Selection is now open!</b></p>

<p>Thank you for your patience; we know this has been a long time coming. The Program Team has had to deal with a number of challenges &ndash; a new location, new programs, confirming program sites &ndash; and we wanted to make sure everything was as complete asit could be before opening up Program Selection.</p>

<p>
    Program Selection is done online. Please read the instructions below before proceeding to the Program Selection site:
    <ul>
        <li>Make sure you and your fellow Unit Scouter(s) have read the <a href="http://program.pj2015.ca/program_guide">Program Guide</a>. The Program Guide provides you with all the information you need to know about the program activities available at PJ.</li>
        <li>Hold a program planning exercise with your Patrol(s). Remember, this is <b>their</b> program; it should be selected by the Patrol. The printable version of the <a href="http://program.pj2015.ca/program_guide">Program Guide</a> contains the full descriptions of every program at PJ. You can also view them <a href="http://program.pj2015.ca/programs">online</a>. Your Patrol should rank each program, with #1 being their top activity.</li>
        <li>Determine if your Patrol wants an extra free period during the week. This is in addition to the free period that every unit automatically receives.</li>
        <li>Keep in mind that one activity (<a href="http://program.pj2015.ca/programs/9">Na'ts'maht - The Gathering Place</a>) is automatically assigned to every unit. This activity will not appear on the Program Selection form, but it will appear on your final schedule.</li>
    </ul>
</p>

<p>
    When you are ready to make your selections, do the following:
    <ul>
        <li>Go to <a href="http://program.pj2015.ca/program_selection">http://program.pj2015.ca/program_selection</a>. If you have not yet signed in to the PJ Program site, you will be asked to do so. Use the email address you provided when you registered for PJ ({{unit.contact_email}}). A login link will be sent to that email address.</li>
        <li>If you are the Contact Scouter for more than one unit, you will see a list of units to choose from. Select the first unit for which you want to submit the Program Selection. If you are the Contact Scouter for only one unit, you will be taken directly to the Program Selection page for your unit.</li>
        <li>On the <a href="http://program.pj2015.ca/program_selection">Program Selection</a> page you will see a list of all the programs available for selection. Remember, <a href="http://program.pj2015.ca/programs/9">Na'ts'maht - The Gathering Place</a>) is automatically assigned to every unit. This activity will not appear on the Program Selection form, but it will appear on your final schedule.</li>
        <li>Drag and drop the programs into the priority order as determined by your Patrol during their planning exercise. Note that users of some older web browsers (Internet Explorer 9 and below) will see 'up' and 'down' buttons - use those instead of dragging and dropping, or try a more modern web browser.</li>
        <li>Your order will be saved each time you re-order the list. You can leave the Progarm Selection page (for example, to look at a program's description), and come back at any time.</li>
        <li>If your unit wants an extra free period, make sure to check the <b>Extra Free Period</b> checkbox at the bottom of the page.</li>
        <li>When you have finished ranking the programs in the order into the priority order as determined by your Patrol, click the <b>Submit Program Selection</b> button. <b>Once you have submitted your Program Selection, it will be locked and you will not be able to make changes</b>.</li>
    </ul>
</p>

<p>After you have submitted your Program Selection, you will be taken to a confirmation page showing your selection. You will also receive an email with the same confirmation.</p>

<p>If you are the Contact Scouter for more than one Unit, you can go back to the <a href="http://program.pj2015.ca/program_selection">Program Selection</a> page and select your next Unit. Repeat the same process for all remaining Units.</p>

<p>You can view a screencast of the Program Selection process: <a href="https://www.youtube.com/watch?v=GmNfsooVBd0">https://www.youtube.com/watch?v=GmNfsooVBd0</a>.</p>

<hr>

<p>Program Assignment – the process where we schedule your Unit's week at PJ based on your Program Selection – will occur in April. <b>Program Assignment is based on the order in which your final payment is received at the Scouts Canada BC &amp; Yukon Service Centre in Vancouver. If you have not yet made your final payment, you should do so soon!</b> If you have any questions about your Unit's payment status, please contact the PJ Registrar (registrar@pj2015).</p>

<hr>

<p>If you have any questions about Program Selection, please get in touch with us at <a href="mailto:programselection@pj2015.ca">programselection@pj2015.ca</a>. Please include your Unit Number ({{unit.unit_number}}) in any correspondence.</p>

<p>Good luck with your Program Selection. We can't wait to see you at Camp Barnard in July!</p>

<p>
--<br>
PJ 2015 Program Team<br>
http://program.pj2015.ca<br>
programselection@pj2015.ca<br>
</p>