<section class="outer">
    <h1>Program Selections</h1>
    <ol style="list-style: decimal">
        {{#each selections}}
            <li>{{this.Unit.unit_name}} ({{this.id}})</li>
        {{/each}}
    </ol>
</section>