<section class="outer">
    <h1>Program Selection is not Available</h1>
    <p>We're not quite ready for program selection to begin. Registered units will be notified by email when program selection is open.</p>
</section>