<section class="outer">
    <h1>Program Selection</h1>
    <h2>{{unit.unit_name}}</h2>

    <hr/>

    <div class="program_selection_component" data-production={{production}} id="ProgramSelection" />

</section>

<script type="application/json" id="selection_json">
    {{{json selection}}}
</script>
